/********************************
 * Common | Golbal
 */

/* * { user-select: none; } */

:root {
  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  body { background: #333; color: white; }
}

@media (prefers-color-scheme: light) {
  body { background: #ddd; color: black; }
}

.text-success {
  color: rgb(18, 177, 3) !important;
}

.text-error {
  color: rgb(177, 3, 3) !important;
}



/********************************
 * Custom
 */

.control-panel {
  display: inline-block;
  border: solid 1px #999;
  border-radius: 12px;
  padding: 1rem;
  margin-bottom: 1rem;
}

#dragEl {
  font-size: 22px;
}

#output {
  background: #fff;
}

#bluetooth-available-result {
  font-weight: bold;
}